# Copia este archivo como .env y completa los valores
SECRET_KEY=cambia-esta-clave
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=sistema_hotel
DB_USER=hotel_user
DB_PASSWORD=tu-password
DB_HOST=localhost
DB_PORT=3306
